{% extends "encyclopedia/layout.html" %}

{% block title %}

    Search results for {{ title }}
    
{% endblock %}

{% block body %}

    <div>
        <h1>"{{ title }}" Search results</h1>
        <a>There is no page with the title "{{ title }}"</a>
    </div>
    
    <div>
        <h2>Similar results:</h2>
        <ul>
            {% for entry in entries %}
                <a class="index-items" href="{% url 'entry' entry %}"><li>{{ entry }}</li></a>
            {% endfor %}
        </ul>    
    </div>
    

{% endblock %}